
<mat-form-field>
  <mat-label>{{filterControl.label}}</mat-label>
  <mat-select
    [formControl]="filterControl.formControl"
    [placeholder]="filterControl.placeholder">

    <mat-option
      [value]="filterControl.all">
      All
    </mat-option>

    @for (data of filterControl.displayedData; track data){
      <mat-option
        [value]="filterControl.valueMapper(data)">
        {{filterControl.labelMapper(data)}}
      </mat-option>
    }
    @if(filterControl.none){
      <mat-option
        [value]="filterControl.none">
        Unaffected
      </mat-option>
    }
  </mat-select>
  <mat-icon
    color="primary"
    matSuffix>
    filter_alt
  </mat-icon>
</mat-form-field>
