
.form-file-container{
  display: grid;
  row-gap: 10px;
}

.file-uploader-wrapper{
  display: flex;
  gap: 20px;
}

.image-preview{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
