.app-container{
  display: grid;
  row-gap: 20px;
}


.equipments-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.nav-bar-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-button{
  min-width: 120px;
}
