<h2 mat-dialog-title>New equipment</h2>
<mat-dialog-content>

  <form
    #equipmentForm
    [formGroup]="formGroup"
    class="form-container">

    <app-tips>
      <p>
        * the restricted filed used to
        determine if the equipment needs authorization to be used</p>
      <p>
        * equipment image should be png or jpeg
      </p>
    </app-tips>

    <app-form-input
      [control]="getControl(formGroup, 'name')"
      [inputLabel]="'Name'"
      [placeholderText]="'Equipment name'"
      [errorsHandler]="{
          required: 'name is required',
          equipment: 'equipment name already exists'
      }"
      [width]="'80%'">
    </app-form-input>

    <app-form-file
      [label]="'equipment image'"
      [accept]="['image/png', 'image/jpeg']"
      (fileChanges)="onFileChanges($event)"
      [width]="'80%'">
    </app-form-file>

    <app-form-select
      [control]="getControl(formGroup, 'categoryId')"
      [selectLabel]="'Category'"
      [dataSource]="data.categories"
      [valueMapper]="Mappers.equipmentCategoryValueMapper"
      [labelMapper]="Mappers.equipmentCategoryLabelMapper"
      [errorsHandler]="{required: 'please choose a category'}"
      [width]="'80%'">
    </app-form-select>

    <app-form-toggle
      [control]="getControl(formGroup, 'restricted')"
      [toggleColor]="'accent'"
      [toggleLabel]="'restricted'"
      [width]="'80%'">
    </app-form-toggle>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    (click)="cancel()"
    color="warn">
    cancel
  </button>
  <button
    mat-button
    [disabled]="formGroup.invalid"
    (click)="createEquipment()"
    color="primary">
    create equipment
  </button>
</mat-dialog-actions>
