<div class="form-select">
  <mat-form-field
    [style.width]="width"
    appearance="outline">
    <mat-label>{{selectLabel}}</mat-label>
    <mat-select
      [formControl]="control">
      @for(element of dataSource; track element){
        <mat-option [value]="valueMapper(element)">
          {{labelMapper(element)}}
        </mat-option>
      } @empty {
        <mat-option value="#">
          ----- No option ------
        </mat-option>
      }
    </mat-select>

    <mat-icon
      matSuffix
      [color]="isInvalid() ? 'warn' : 'primary'">
      {{
        isInvalid() ?
          'sentiment_very_dissatisfied' :
          'sentiment_very_satisfied'
      }}
    </mat-icon>
    @if(hint){
      <mat-hint>{{hint}}</mat-hint>
    }
    @if(control.errors){
      <mat-error>
        {{errorsHandler[Object.keys(control.errors).pop()]}}
      </mat-error>
    }
  </mat-form-field>

  @if(tooltipContent){
    <mat-icon
      [matTooltip]="tooltipContent"
      [matTooltipPosition]="tooltipPosition"
      (click)="tooltipToggle()">
      info_outline
    </mat-icon>
  }
</div>
